.myContainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.myLabelsContainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    list-style-type:none;

}

.myContent{
    border:2px solid #eeeeee;
    padding:10px;
    font-size:150%;
    margin-top:10%;
}

ul>li{
    margin:100px;
}